// ---------COLORS---------
$primaryColor: #ff7c7c;
$primaryColorHover: #ff7c7c18;
$darkBgColor: #181818;
$darkColor: #212121;
$successColor: #16a34a;
$errorColor: #dc2626;
$white: #d2d2d2;

// ---------FONTS---------
$primaryFont: 'Inter', sans-serif;
$secondaryFont: 'Space Mono', monospace;
