@use '../abstracts/' as *;

.about {
  padding: 15rem 0 10rem 0;
  display: flex;
  font-family: $secondaryFont;
  flex-direction: column;

  &-me {
    max-width: 1000px;
    margin: auto;
    text-align: center;

    & h2 {
      color: $primaryColor;
      padding-bottom: 1rem;
      font-weight: bold;
    }

    & p {
      font-size: 1.2rem;
    }
  }

  &-skills {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    & .tech-name {
      cursor: default;
      padding: 0.2rem 1.5rem;
      margin-top: 0.8rem;
      margin-right: 1rem;
      border-radius: 10rem;
      display: inline-block;
      border: 1px solid $primaryColor;
      color: $primaryColor;
    }
  }
}
