@use '../abstracts/' as *;

.projects {
  padding: 10rem 0;
  font-family: $secondaryFont;
  min-height: 90vh;

  & h2 {
    color: $primaryColor;
    text-align: center;
    font-weight: bold;
  }
}
