@use '../abstracts/' as *;

.about {
  padding: 10rem 0;
  display: flex;
  font-family: $primaryFont;
  flex-direction: column;

  &-me {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    line-height: 2;

    & h2 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      color: $primaryColor;
      font-weight: bold;
    }

    & p {
      font-size: 1.1rem;
    }

    & span {
      color: $primaryColor;
      font-weight: bold;
    }
  }

  &-skills {
    display: inline-block;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
  }

  @include devices(tablet) {
    padding: 8rem 0 5rem 0;
  }
}
