@use '../abstracts/' as *;

.projects {
  padding: 5rem 0;
  font-family: $primaryFont;

  & h2 {
    color: $primaryColor;
    text-align: center;
    font-weight: bold;
  }

  @include devices(laptop) {
    & h2 {
      margin-bottom: 1.5rem;
    }
  }
}
