@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Tajawal:wght@300;400;700&display=swap");
body {
  font-family: "Tajawal", sans-serif;
  background: #181818;
  box-sizing: border-box;
  color: #d6d6d6;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.apptheme {
  margin-top: 0rem;
  margin-bottom: 0rem;
  flex: 1;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 1.5rem;
}

/* width */
::-webkit-scrollbar {
  max-width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff7c7c;
  border-radius: 10rem;
}

.hamburger-react {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .hamburger-react {
    display: block;
  }
}

.notFoundWrapper {
  margin: 5rem 0;
  text-align: center;
}

.notFoundCover img {
  display: block;
  max-width: 600px;
  margin: auto;
}

.homeBtn {
  margin: 1rem 0;
}
.homeBtn a {
  display: block;
  margin: 0px auto;
  width: 150px;
  border-radius: 10px;
  padding: 0.8rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.4s ease-in-out;
}
.homeBtn a:hover {
  transform: scale(1.01);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.homeBtn a #btn-icon {
  font-size: 1.5em;
}

/** TABLE OF CONTENTS 
-----------------------
-- REMINDER: abstract/variables.scss needs to be brought into components that require it! 

-- NEW: vendor imports
-- base imports
-- component imports
-- layout imports
**/
