@use '../../styles/scss/abstracts/' as *;

.home {
  position: relative;
  width: 100%;
  height: 100dvh;
  font-family: $secondaryFont;

  & .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181818cb;
  }

  & .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .hero {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
  }

  & .heroHeading {
    font-size: 3.2rem;
    color: $white;
  }

  & .heroSub {
    font-size: 1.6rem;
    color: $primaryColor;
  }

  @include devices(tablet) {
    & .heroHeading {
      font-size: 2.6rem;
      color: $white;
    }

    & .heroSub {
      font-size: 1.2rem;
      color: $primaryColor;
    }
  }
}
