@use '../../styles/scss/abstracts/' as *;

.navbar {
  position: fixed;
  width: 100%;
  background-color: transparent;
  color: $white;

  & .navbarBrand,
  & .navLink {
    color: $white;

    &:hover {
      color: $primaryColor;
    }
  }
}
