@use '../../styles/scss/abstracts/' as *;

.about {
  padding-top: 8rem;
  padding-bottom: 3rem;
  display: flex;
  font-family: $primaryFont;
  flex-direction: column;

  & .aboutMe {
    line-height: 2;

    & .heading {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      color: $primaryColor;
      font-weight: bold;
    }

    & .paragraph {
      font-size: 1.1rem;
    }

    & span {
      color: $primaryColor;
      font-weight: bold;
    }
  }

  & .skills {
    display: inline-block;
    margin: 0.5rem auto;
  }

  @include devices(tablet) {
    padding: 8rem 0 5rem 0;
  }

  @include devices(mobile) {
    padding-top: 5rem;

    & .aboutMe {
      text-align: center;

      & .paragraph {
        font-size: 1rem;
      }

      & span {
        color: $primaryColor;
        font-weight: bold;
      }
    }
  }
}
