@use '../../styles/scss/abstracts/' as *;

.contact {
  font-family: $primaryFont;
  text-align: center;
  max-width: 900px;
  padding: 5rem 0 8rem 0;
  margin: auto;

  & .heading {
    color: $primaryColor;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  & .paragraph {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;

    & span {
      color: $primaryColor;
      font-weight: bold;
    }
  }

  @include devices(mobile) {
    padding: 2rem 0 10rem 0;

    & p {
      font-size: 1rem;
    }
  }
}
