@use '../abstracts/' as *;

.about {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  line-height: 2;

  &-me {
    max-width: 1000px;
    margin: auto;
    text-align: center;

    & h1 {
      color: $primaryColor;
      padding-bottom: 1rem;
    }

    & p {
    }
  }

  &-skills {
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5rem 0;
    text-align: center;

    & .tech-name {
      cursor: default;
      padding: 0.2rem 1.5rem;
      margin-top: 0.8rem;
      margin-right: 1rem;
      border-radius: 10rem;
      display: inline-block;
      border: 1px solid $primaryColor;
      color: $primaryColor;
      font-size: 0.9rem;
    }
  }
}
