@use '../abstracts/' as *;

.navbar {
  position: fixed;
  width: 100%;
  background-color: transparent;
  color: $white;

  .navbar-brand,
  .nav-link {
    color: $white;

    &:hover {
      color: $primaryColor;
    }
  }
}
