@use '../../../styles/scss/abstracts/' as *;

.navbar {
  position: fixed;
  min-width: 100%;
  background-color: transparent;
  color: $white;

  & .navbarBrand {
    font-weight: bold;
    font-size: 1.4rem;
  }

  & .navbarBrand,
  & .navLink {
    color: $white;
  }

  & .navLink {
    font-size: 0.95rem;
    transition: all 0.4s;

    &:hover {
      color: $primaryColor;
    }
  }

  @include devices(laptop) {
    .navbarNav {
      display: none;
    }
  }
}
