@use '../../../styles/scss/abstracts/' as *;

.about {
  padding: 8rem 0;
  display: flex;
  font-family: $primaryFont;
  text-align: center;
  flex-direction: column;

  & .aboutMe {
    line-height: 2;

    & .heading {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      color: $primaryColor;
      font-weight: bold;
    }

    & .paragraph {
      font-size: 0.95rem;
    }

    & span {
      color: $primaryColor;
      font-weight: bold;
    }
  }

  & .skills {
    display: inline-block;
    margin-top: 1rem;
  }

  @include devices(tablet) {
    padding: 8rem 0 5rem 0;

    & .aboutMe {
      text-align: center;
    }
  }

  @include devices(mobile) {
    padding-top: 5rem;

    & .aboutMe {
      & span {
        color: $primaryColor;
        font-weight: bold;
      }
    }
  }
}
