@use '../../../styles/scss/abstracts/' as *;

.contact {
  font-family: $primaryFont;
  text-align: center;
  max-width: 900px;
  padding: 8rem 0;
  margin: auto;

  & .heading {
    color: $primaryColor;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  & .paragraph {
    font-size: 0.95rem;
    margin-bottom: 1.5rem;

    & .link {
      color: $primaryColor;
      font-weight: bold;
    }
  }

  @include devices(laptop) {
    padding: 5rem 0;

    & .heading {
      font-size: 2rem;
    }
  }
}
