@use '../../../styles/scss/abstracts/' as *;

// Offcanvas
.offcanvas {
  background-color: $darkColor;
  padding: 1.5rem;

  &Link {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1.3rem 0;
    transition: all 0.4s;
  }

  &Link:hover {
    color: $primaryColor;
  }
}
