@use '../../styles/scss/abstracts/' as *;

.featured {
  padding: 5rem 0;

  & .wrapper {
    display: flex;
  }

  & .image {
    max-width: 550px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 2.5rem;
  }

  & .content {
    & .subtitle {
      font-size: 1.1rem;
      color: $primaryColor;
    }

    & .title {
      margin-bottom: 0.8rem;
      font-weight: bold;
    }
  }

  & .descOverlay {
    background-color: $darkColor;
    border-radius: 5px;
    padding: 2rem;

    & .desc {
      margin: 0;
    }
  }

  & .techStack {
    display: flex;
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;

    & .tech {
      transition: all 0.5s;
    }

    & .tech:not(:last-child) {
      margin-right: 1.5rem;
    }

    & .tech:hover {
      cursor: default;
      color: $primaryColor;
    }
  }

  @include devices(laptop) {
    padding: 1rem 0;

    & .wrapper {
      flex-direction: column;
    }

    & .image {
      margin: 0 !important;
      max-width: 100%;
    }

    & .content {
      margin: 2rem 0 !important;

      & .subtitle {
        font-size: 1rem;
      }
    }
  }

  @include devices(tablet) {
    & .techStack {
      font-size: 0.9rem;
    }
  }

  @include devices(mobile) {
    & .content {
      text-align: center !important;
    }

    & .descOverlay {
      & .desc {
        font-size: 0.9rem;
      }
    }

    & .techStack {
      justify-content: center !important;
    }
  }
}
