@use '../../styles/scss/abstracts/' as *;

.project {
  padding: 4rem 0;

  & .wrapper {
    display: flex;
  }

  & .imageWrapper {
    margin-right: 2.5rem;

    & .window {
      display: flex;
      align-items: center;
      max-width: 550px;
      min-height: 30px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: $darkColor;
    }

    & .windowButtons {
      margin: 0 1rem;

      & img {
        margin-right: 0.3rem;
      }
    }

    & .image {
      max-width: 550px;
      min-height: 300px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      object-fit: cover;
    }
  }

  & .content {
    & h5 {
      font-size: 1.1rem;
      color: $primaryColor;
    }

    & h3 {
      margin-bottom: 0.8rem;
      font-weight: bold;
    }
  }

  & .descOverlay {
    background-color: $darkColor;
    border-radius: 5px;
    padding: 2rem;

    & p {
      margin: 0;
    }
  }

  & .techStack {
    display: flex;
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;

    & .tech {
      transition: all 0.5s;
    }

    & .tech:not(:last-child) {
      margin-right: 1.5rem;
    }

    & .tech:hover {
      cursor: default;
      color: $primaryColor;
    }
  }

  @include devices(laptop) {
    padding: 1rem 0;

    & .wrapper {
      flex-direction: column;
    }

    & .imageWrapper {
      margin: 0 !important;

      & .window,
      .image {
        max-width: 100%;
      }
    }

    & .content {
      margin: 2rem 0 !important;

      & .subtitle {
        font-size: 1rem;
      }
    }
  }

  @include devices(tablet) {
    & .techStack {
      font-size: 0.9rem;
    }
  }

  @include devices(mobile) {
    & .imageWrapper {
      & .image {
        min-height: 250px;
      }
    }

    & .content {
      text-align: center !important;
    }

    & .descOverlay {
      & .desc {
        font-size: 0.9rem;
      }
    }

    & .techStack {
      justify-content: center !important;
    }
  }
}
