@use '../../styles/scss/abstracts/' as *;

.technology {
  background-color: $darkColor;
  display: inline-block;
  margin: 0 1rem 1rem 1rem;
  border-radius: 5px;

  & .wrapper {
    display: flex;
    margin: 0.7rem 1.4rem;
    align-items: center;
  }

  & .image {
    width: 30px;
    height: 30px;
    margin-right: 0.8rem;
  }

  & .name {
    font-weight: bold;
    margin: 0;
  }
}
