@use '../abstracts/' as *;

body {
  font-family: $primaryFont;
  background: $darkBgColor;
  box-sizing: border-box;
  color: $white;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.apptheme {
  margin-top: 0rem;
  margin-bottom: 0rem;
  flex: 1;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 1.5rem;
}

// Scrollbar Styles
/* width */
::-webkit-scrollbar {
  max-width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $darkColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primaryColor;
  border-radius: 10rem;
}

.hamburger-react {
  display: none;

  @include devices(laptop) {
    display: block;
  }
}
